/* ADD YOUR STYLES HERE */
.div-centered {
  text-align: center;
  position: relative;
}

.item-centered {
  margin: auto;
  padding: 20px;
}

.html-centered {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
}

.item-vert {
  display: block;
  padding: 10px;
}

.html-vert {
  display: block;
  padding: 10px;
}

.block {
  display: inline;
}
